{% extends 'layout.html' %}
{% block title %}课室管理{% endblock %}

{% block page_content %}
    <div class="page-header"><h1>课室管理</h1></div>


<div id="places">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">课室列表</h4>
        </div>
        <div class="widget-body">
            <div class="widget-toolbox padding-10">
                <div class="action-buttons">
                    <a id="create-place" href="javascript:void(0)" data-toggle="modal" data-target="#add-dialog">
                        <i class="ace-icon fa fa-plus-circle"></i> 添加课室 </a>
                    <a id="delete-place-multi" class="red" href="javascript:void(0)"><i class="ace-icon fa fa-trash"></i> 删除所选课室 </a>
                </div>
            </div>
            <div class="widget-main no-padding">
                <table id="places-table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace">
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th>课室名称</th>
                            <th>课室地址</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for place in places %}
                        <tr>
                            <td class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" id="place-{{ place.id }}" class="ace">
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td>{{ place.name }}</td>
                            <td>{{ place.address }}</td>
                            <td>
                                <div class="action-buttons">
                                    <a href="javascript:void(0)" class="update-place" title="编辑课室" id="update-place-{{ place.id }}"><i class="ace-icon glyphicon glyphicon-edit bigger-130"></i></a>
                                    <a class="red delete-place" href="javascript:void(0)" title="删除课室" id="delete-place-{{ place.id }}"><i class="ace-icon fa fa-trash-o bigger-130"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="add-dialog" class="modal fade">
    <div class="modal-dialog">
        <form id='create-place-form' method="POST" action="{{ url_for('terminal.places') }}">
            {{ form.csrf_token }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加课室</h4>
                </div>
                <div class="modal-body">
                    <div class="profile-user-info profile-user-info-striped" style="width:auto;">
                            <div class="profile-info-row control-group ui-spinner">
                                <div class="profile-info-name" style="text-align: center;">课室名称</div>
                                <div class="profile-info-value bootstrap-timepicker" style="width: 50%">
                                <input id="name" name="name" type="text" value="" data-rule-required='true' data-msg-required='请输入课室名称' data-rule-maxlength="64" data-msg-maxlength='长度不超过64个字符'>
                                </div>
                            </div>
                            <div  class="profile-info-row control-group ui-spinner">
                                <div class="profile-info-name" style="text-align: center;">课室地址</div>
                                <div class="profile-info-value bootstrap-timepicker" style="width: 50%">
                                <input id="address" name="address" type="text" value="" data-rule-required='true' data-msg-required='请输入课室地址' data-rule-maxlength="256" data-msg-maxlength='长度不超过256个字符'>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭</button>
                    <button id="confirm-add" type="submit" class="btn btn-success"> 添加</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="update-dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="update-place-form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑课室</h4>
            </div>
            <div class="modal-body">
                <input class="hidden" type="text" name="place-id" id="place-id">
                <div class="profile-user-info profile-user-info-striped" style="width:auto;">
                    <div class="profile-info-row control-group ui-spinner">
                        <div class="profile-info-name" style="text-align: center;">课室名称</div>
                        <div class="profile-info-value bootstrap-timepicker" style="width: 50%">
                            <input type="text" name="name" id="place-name" data-rule-required='true' data-msg-required='请输入课室名称' data-rule-maxlength="64" data-msg-maxlength='长度不超过64个字符'>
                        </div>
                    </div>
                    <div  class="profile-info-row control-group ui-spinner">
                        <div class="profile-info-name" style="text-align: center;">课室地址</div>
                        <div class="profile-info-value bootstrap-timepicker" style="width: 50%">
                            <input type="text" name="address" id="place-address" data-rule-required='true' data-msg-required='请输入课室地址' data-rule-maxlength="256" data-msg-maxlength='长度不超过256个字符'>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭</button>
                <button id="confirm-update" type="submit" class="btn btn-primary"> 修改</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div id="delete-dialog" class="modal fade">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">删除课室</h4>
            </div>
            <div class="modal-body">
                <span class="red"><i class="ace-icon fa fa-warning icon-animated-bell bigger-130"></i> 确认删除所选择的课室?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> 取消</button>
                <button id="confirm-delete" type="button" class="btn btn-danger"> 删除</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block inline_scripts %}
    {{ super() }}
    <script>
        $(document).ajaxStart(function(){
            $.blockUI({
                message: "<h3>请等待...</h3>",
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            });
        });
        $(document).ajaxStop($.unblockUI);

        active_sidebar("#terminal", "#places-management");
        $("#places-table").dataTable({
            "language": {
                "url": "{{ url_for('static', filename='i18n/jquery.dataTables.json') }}"
            },
            "aoColumns": [
                { "bSortable": false },
                null, null,
                { "bSortable": false }
            ],
            "aaSorting": []
        });

        // checkbox
        $("th input[type=checkbox], td input[type=checkbox]").prop('checked', false);

        // select all
        $("table thead th input[type=checkbox]").eq(0).click(function () {
            var checked = this.checked;
            $(this).closest('table').find('tbody td input[type=checkbox]').each(function () {
                this.checked = checked;
            })
        });

        var selected_list = [];
        $("#delete-place-multi").click(function() {
            selected_list = [];
            $("#places-table td input[type=checkbox]").each(function () {
                if (this.checked) {
                    var place_id = this.id.split("-")[1];
                    selected_list.push(place_id);
                }
            });
            if (selected_list.length > 0) {
                $("#delete-dialog").modal("show");
            } else {
                   var content = "请选择一个或多个要删除的课室";
                   $.gritter.add({
                    // (string | mandatory) the text inside the notification
                    text: content,
                    class_name: 'gritter-error'
                    });
                }
        });

        $(".delete-place").click(function() {
            selected_list = [];
            var place_id = this.id.split("-")[2];
            selected_list.push(place_id);
            $("#delete-dialog").modal("show");
        });

        $("#confirm-delete").click(function() {
            $("#delete-dialog").modal("hide");
            var json = $.toJSON(selected_list);
            $.ajax({
                url: "{{ url_for('terminal.delete_places') }}",
                type:"DELETE",
                data:json,
                contentType: "application/json",
                async: false,
                global: true,
                success:function(data, status){
                    if (data['result'] == "success"){
                        location.reload();
                    }else{
                        $.gritter.add({
                            text: '删除课室失败',
                            class_name: 'gritter-error'
                        });
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    $.gritter.add({
                        text: '删除课室失败',
                        class_name: 'gritter-error'
                    });
                }
            });
        });

        $(".update-place").click(function() {
            $("#place-id").val(this.id.split("-")[2]);
            $("#place-name").val($(this).closest("td").prev().prev().text());
            $("#place-address").val($(this).closest("td").prev().text());
            $("#update-dialog").modal("show");
        });

        $("#create-place-form").validate({});
        $("#update-place-form").validate({});

        $("#update-place-form").submit(function(event) {
            event.preventDefault();
            var isvalid = $("#update-place-form").valid();
            if (!isvalid) {
                return;
            }
            $("#update-dialog").modal("hide");
            var url = "{{ url_for('terminal.update_place', place_id=0) }}" + $("#place-id").val();
            $.ajax({
                url: url,
                type: "PUT",
                data: {
                    name: $("#place-name").val(),
                    address: $("#place-address").val()
                },
                success:function(data, status){
                    if (data['result'] == "success"){
                        location.reload();
                    }else{
                        $.gritter.add({
                            text: '修改课室信息失败',
                            class_name: 'gritter-error'
                        });
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    $.gritter.add({
                        text: '修改课室信息失败',
                        class_name: 'gritter-error'
                    });
                }
            });

        });

    </script>
{% endblock %}
