{% extends 'layout.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{%  block title %}错误页面{%  endblock %}

{% block inline_styles %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="error-container">
                <div class="well">
                    <h1 class="grey lighter smaller">
                        <span class="blue bigger-125">
                            <i class="ace-icon fa fa-random"></i>
                            500
                        </span>
                        页面出现了错误
                    </h1>

                    <hr />

                    <div class="space"></div>

                    <div>
                        <h4 class="lighter smaller">可以尝试如下操作:</h4>

                        <ul class="list-unstyled spaced inline bigger-110 margin-15">
                            <li>
                                <i class="ace-icon fa fa-hand-o-right blue"></i>
                                联系管理员，并提供更多信息以重现该错误
                            </li>
                        </ul>
                    </div>

                    <hr />
                    <div class="space"></div>

                    <div class="center">
                        <a href="javascript:history.back()" class="btn btn-grey">
                            <i class="ace-icon fa fa-arrow-left"></i>
                            返回
                        </a>

                        <a href="{{ url_for('main.index') }}" class="btn btn-primary">
                            <i class="ace-icon fa fa-tachometer"></i>
                            我的主页
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}