# web
Flask==0.10.1
Flask-Script==2.0.5
Flask-Bootstrap==3.3.5.7
Flask-Mail==0.9.1
Flask-Migrate==1.7.0
Flask-Moment==0.5.1
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
Flask-Babel==0.9
WTForms==2.1
Flask-Login==0.3.2
Flask-SSLify==0.1.5
Flask-httpauth==3.1.1

# auth
Flask-Principal==0.4.0

# database
PyMySQL==0.7.0
SQLAlchemy==1.0.10
Alembic==0.8.4         # sqlalchemy migration

# security
rsa==3.4.2

# voluptuous data validation
voluptuous==0.8.9
