{% extends 'teachers/layout.html' %}
{% block title %}学生管理{% endblock %}
{% block inline_styles %}
    <style type="text/css">
        body .modal-user {
            width: 500px;
        }
    </style>
{% endblock %}
{% block page_content %}
    <div class="page-header"><h1>学生管理</h1></div>
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">学生列表</h4>
        </div>
        <div class="widget-body no-padding">
            <div class="widget-toolbox padding-10">
                <div class="row">
                    <div class="col-md-6">
                        <div class="action-buttons">
                            <a id="create_user" href="javascript:void(0)"><i class="ace-icon fa fa-plus-circle"></i> 创建用户 </a>
                            <a id="delete_user" class="red" href="javascript:void(0)"><i class="ace-icon fa fa-trash"></i> 删除所选用户 </a>
                            <a id="modify_password" href="javascript:void(0)"><i class="ace-icon fa fa-cog"></i> 重置密码 </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="text-align: right;">
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-info btn-xs dropdown-toggle" aria-expanded="false">
                                    导入/导出
                                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-info dropdown-menu-right">
                                    <li>
                                        <a id="export_user" href="{{ url_for('teachers_account.export_user', role_name=role) }}" download='学生列表.xls'>导出名单</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" id="upload_users_dialog_pop">导入名单</a>
                                    </li>
                                    <li>
                                        <a id="download_template" href="{{ url_for('static', filename='students.xls') }}" download='学生用户导入模板.xls' title="下载模板">下载名单模板</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-main no-padding">
                <table id="user_table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="center"><label class="pos-rel"><input  id="select_all" type="checkbox" class="ace"><span class="lbl"></span></label></th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>邮箱</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr id="user_tr_{{ user.id }}">
                            <td class="center"><label class="pos-rel"><input type="checkbox" id="user_{{ user.id }}" class="ace"><span class="lbl"></span></label></td>
                            <td id="username_{{ user.id }}">{{ user.username }}</td>
                            <td id="fullname_{{ user.id }}">{{ user.fullname }}</td>
                            <td id="email_{{ user.id }}">{{ user.email }}</td>
                            <td>
                                <div class="action-buttons">
                                    <a href="javascript:void(0)" title="编辑用户" onclick="on_update_click({{ user.id }})"><i class="ace-icon glyphicon glyphicon-edit bigger-130"></i></a>
                                    <a class="red" title="删除用户" onclick="on_delete_click({{ user.id }})"><i class="ace-icon fa fa-trash-o bigger-130"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="user_dialog" class="modal fade">
        <div class="modal-dialog modal-user">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="user_dialog_title">创建用户</h4>
                </div>
                <div class="modal-body">
                    <form id="user_form" role="form" action="{{ url_for('teachers_account.create_user') }}" method="post">
                        {{ form.csrf_token }}
                        <input type="hidden" name="role" value="{{ role }}">
                        <div class="form-group user-information">
                            <label for="form-field-8">用户名</label>
                            <div class="">
                                <input class="form-control" id="username" name="username" placeholder="用户名" type="text" data-rule-required='true' data-msg-required='请输入用户名' data-rule-maxlength='64' data-msg-maxlength='长度不超过64个字'>
                            </div>
                        </div>
                        <div class="form-group user-information">
                            <label for="form-field-8">姓名</label>
                            <div class="">
                                <input class="form-control" id="fullname" name="fullname" placeholder="姓名" type="text" data-rule-required='true' data-msg-required='请输入姓名' data-rule-maxlength='64' data-msg-maxlength='长度不超过64个字'>
                            </div>
                        </div>
                        <div class="form-group user-information">
                            <label for="form-field-8">邮箱</label>
                            <div class="">
                                <input class="form-control" id="email" name="email" placeholder="邮箱" value="" type="email" data-rule-required='true' data-msg-required='请输入邮件地址' data-rule-rangelength='1,64' data-msg-rangelength='长度1-64个字'>
                            </div>
                        </div>
                        <div class="form-group password">
                            <label for="form-field-8">密码</label>
                            <div class="">
                                <input class="form-control" id="password" name="password" placeholder="密码" value="" type="password" data-rule-required='true' data-msg-required='请输入用户密码' data-rule-rangelength='5,64' data-msg-rangelength='长度5-64个字'>
                            </div>
                        </div>
                        <div class="form-group password">
                            <label for="form-field-8">确认密码</label>
                            <div class="">
                                <input class="form-control" id="confirm" name="confirm" placeholder="确认密码" value="" type="password" data-rule-required='true' data-msg-required='请输入用户密码' data-rule-rangelength='5,64' data-msg-rangelength='长度5-64个字' data-rule-equalTo='#password' data-msg-equalTo='确认密码不一致'>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="confirm_action" type="submit" class="btn btn-success"> 确定 </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"> 取消 </button>
                </div>
            </div>
        </div>
    </div>

    <!-- delete user confirmation dialog -->
    <div id="delete_confirm_dialog" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除用户</h4>
                </div>
                <div class="modal-body">
                    <span class="red"><i class="ace-icon fa fa-warning icon-animated-bell bigger-130"></i> 确认删除所选择的用户?</span>
                </div>
                <div class="modal-footer">
                    <button id="confirm_delete" type="button" class="btn btn-danger"> 确定 </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭 </button>
                </div>
            </div>
        </div>
    </div>

     <!-- upload users part success dialog -->
    <div id="fail_list_dialog" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">导入失败名单</h4>
                </div>
                <div class="modal-body">
                    <table id="fail_list_table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="confirm_result_part_failed" type="button" class="btn btn-success" data-dismiss="modal"> 确定 </button>
                </div>
            </div>
        </div>
    </div>

    <!-- upload users dialog -->
    <div id="upload_users_dialog" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">导入用户名单</h4>
                </div>
                <div class="modal-body">
                    <form id="upload_form" enctype="multipart/form-data">
                        <input type="hidden" name="role" value="{{ role }}">
                        <input type="file" name="file" id="userfile"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="upload_users" type="button" class="btn btn-success"> 导入 </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭 </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block inline_scripts %}
    {{ super() }}
    <script>
        active_sidebar("#accounts", "#student_accounts");

        var selected_user = [];

        // record user status
        var user_status = true;

        // dialog mode switch
        var user_dialog_mode = "create";

        // init plugins
        $(function() {

            $(document).ajaxStart(function(){
                $.blockUI({
                    message: "<h3>请等待...</h3>",
                    css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });
            });
            $(document).ajaxStop($.unblockUI);

            $('#export_user').click(function() {
                $.gritter.add({
                    // (string | mandatory) the text inside the notification
                    text: '学生列表导出成功',
                    class_name: 'gritter-success'
                });
            });

            $('#download_template').click(function() {
                $.gritter.add({
                    // (string | mandatory) the text inside the notification
                    text: '名单模板下载成功',
                    class_name: 'gritter-success'
                });
            });

            $('#userfile').ace_file_input({
                no_file:'选择文件...',
                btn_choose:'浏览',
                btn_change:'更改',
                droppable:false,
                onchange:null,
                thumbnail:false
            });

            var user_table = $("#user_table").DataTable({
                "language": {
                    "url": "{{ url_for('static', filename='i18n/jquery.dataTables.json') }}"
                },
                "aoColumns": [
                    { "bSortable": false },
                    null, null, null,
                    { "bSortable": false }
                ],
                "aaSorting": []
            });

            /**
             * Below are create and update user related code
             */

            // create user button click
            $("#create_user").click(function () {
                // reset form from update user mode
                user_dialog_mode = "create";
                $("#username").prop("readonly", false);
                $("#user_dialog, .form-group").show();
                $("#user_dialog_title").text("创建用户");
                $("#user_form").validate().resetForm();    //重置表单

                $("#user_dialog").modal("show");
            });

            // user form validation
            var $validator = $("#user_form").validate({
            });


            // create/update user
            $("#confirm_action").click(function () {
                var isvalid = $("#user_form").valid();
                if (!isvalid) {
                    return;
                }

                if (user_dialog_mode == "create") {
                    $.ajax({
                        url: "{{ url_for('teachers_account.create_user') }}",
                        type: "POST",
                        data: $("#user_form").serialize(),
                        success: on_create_user_success,
                        error: on_create_user_error
                    });
                } else if (user_dialog_mode == "update") {
                    var url_template = "{{ url_for('teachers_account.update_user', id=0) }}";
                    url = url_template.replace('0', selected_user[0]);
                    $.ajax({
                        url: url,
                        type: "PUT",
                        data: $("#user_form").serialize(),
                        success: on_update_user_success,
                        error: on_update_user_error
                    });
                } else {
                    var put_data = {
                        'selected_user':selected_user,
                        'password': $("#password").val()
                    };
                    $.ajax({
                        url: "{{ url_for('teachers_account.modify_password') }}",
                        type: "PUT",
                        contentType: "application/json",
                        data: $.toJSON(put_data),
                        success: on_modify_password_success,
                        error: on_modify_password_error
                    });

                }
            });

            function on_create_user_success(request, msg, e) {
                var json_result = $.parseJSON(e.responseText);
                if (json_result) {
                    var status = json_result.status;
                    var data = json_result.data;
                    switch (status) {
                        case "success":
                            $("#user_dialog").modal("hide");
                            // 更新user_table
                            var tr = "<tr id='user_tr_"+data.id+"'>"+
                                        "<td class='center'><label class='pos-rel'><input type='checkbox' id='user_"+data.id+"' class='ace'><span class='lbl'></span></label></td>"+
                                        "<td id='username_"+data.id+"'>"+data.username+"</td>"+
                                        "<td id='fullname_"+data.id+"'>"+data.fullname+"</td>"+
                                        "<td id='email_"+data.id+"'>"+data.email+"</td>"+
                                        "<td>"+
                                            "<div class='action-buttons'>"+
                                                '<a href="javascript:void(0)" title="编辑用户" onclick="on_update_click('+data.id+')"><i class="ace-icon glyphicon glyphicon-edit bigger-130"></i></a>\n'+
                                                '<a class="red" title="删除用户" onclick="on_delete_click('+data.id+')"><i class="acxse-icon fa fa-trash-o bigger-130"></i></a>'+
                                            "</div>"+
                                        "</td>"+
                                    "</tr>";

                            user_table.row.add($(tr)).draw(false);
                            // 显示提示信息
                            $.gritter.add({
                                // (string | mandatory) the text inside the notification
                                text: '用户&nbsp;'+data.username+'&nbsp;创建成功',
                                class_name: 'gritter-success'
                            });
                            break;
                        case "fail":
                            // display server side form error messages
                            var form_errors = data['form_errors'];
                            var errors = null;
                            if (form_errors['username']
                                    && form_errors['username'][0] == '用户名已经存在') {
                                errors = { username: "用户名已经存在" };
                                $validator.showErrors(errors);
                            }
                            if (form_errors['email']
                                    && form_errors['email'][0] == '邮件地址已被使用') {
                                errors = { email: "邮件地址已被使用" };
                                $validator.showErrors(errors);
                            }
                            break;
                        default:
                            $.gritter.add({
                                // (string | mandatory) the text inside the notification
                                text: '服务器异常',
                                class_name: 'gritter-error'
                            });
                    }
                }
            }

            function on_create_user_error(response) {
                $.gritter.add({
                    // (string | mandatory) the text inside the notification
                    text: '用户创建过程中出现错误',
                    class_name: 'gritter-error'
                });
            }

            function on_update_user_success(request, msg, e) {
                var json_result = $.parseJSON(e.responseText);
                if (json_result) {
                    var status = json_result.status;
                    var data = json_result.data;
                    switch (status) {
                        case "success":
                            $("#user_dialog").modal("hide");
                            // 修改user_table
                            $("#fullname_"+data.id).text(data.fullname);
                            $("#email_"+data.id).text(data.email);
                            // 显示提示信息
                            $.gritter.add({
                                // (string | mandatory) the text inside the notification
                                text: '用户&nbsp;'+data.username+'&nbsp;信息修改成功',
                                class_name: 'gritter-success'
                            });
                            break;
                        case "fail":
                            // display server side form error messages
                            var form_errors = data['form_errors'];
                            var errors = null;
                            if (form_errors['email']
                                    && form_errors['email'][0] == '邮件地址已被使用') {
                                errors = { email: "邮件地址已被使用" };
                                $validator.showErrors(errors);
                            }
                            break;
                        default:
                            $.gritter.add({
                                // (string | mandatory) the text inside the notification
                                text: '服务器异常',
                                class_name: 'gritter-error'
                            });
                    }
                }
            }

            function on_update_user_error(response) {
                $.gritter.add({
                    // (string | mandatory) the text inside the notification
                    text: '修改过程中出现错误',
                    class_name: 'gritter-error'
                });
            }

            function on_modify_password_success(request, msg, e) {
                var json_result = $.parseJSON(e.responseText);
                if (json_result) {
                    var status = json_result.status;
                    var data = json_result.data;
                    switch (status) {
                        case "success":
                            $("#user_dialog").modal("hide");
                            $.gritter.add({
                                // (string | mandatory) the text inside the notification
                                text: '重置密码成功',
                                class_name: 'gritter-success'
                            });
                            break;
                        case "fail":
                            var text = "";
                            for (var i in data.fail_list) {
                                text +=  '用户&nbsp;'+fail_list[i]+'&nbsp;重置密码失败<br/>'
                            }
                            $.gritter.add({
                                // (string | mandatory) the text inside the notification
                                text: text,
                                class_name: 'gritter-success'
                            });
                            break;
                        default:
                            $.gritter.add({
                                // (string | mandatory) the text inside the notification
                                text: '服务器异常',
                                class_name: 'gritter-error'
                            });
                    }
                }
            }

            function on_modify_password_error(response) {
                $.gritter.add({
                    // (string | mandatory) the text inside the notification
                    text: '重置密码过程中出现错误',
                    class_name: 'gritter-error'
                });
}

            /**
             * Below are delete user related code
             */

            // checkbox
            $("th input[type=checkbox], td input[type=checkbox]").prop('checked', false);

            // select all
            $("#user_table thead th input[type=checkbox]").eq(0).click(function () {
                var checked = this.checked;
                $(this).closest('table').find('tbody td input[type=checkbox]').each(function () {
                    this.checked = checked;
                })
            });

            // delete users
            $("#delete_user").click(function () {
                selected_user = [];
                $("#user_table tbody td input[type=checkbox]").each(function () {
                    if (this.checked) {
                        var user_id = this.id.split("_")[1];
                        selected_user.push(user_id);
                    }
                });
                if (selected_user.length > 0) {
                    $("#delete_confirm_dialog").modal("show");
                }
            });

            function on_delete_users_error(request, msg, e) {
                $.gritter.add({
                    // (string | mandatory) the text inside the notification
                    text: '删除过程中出现错误',
                    class_name: 'gritter-error'
                });
            }

            function on_delete_users_success(responseJson) {
                var select_all_button = document.getElementById("select_all");
                if (select_all_button.checked) select_all_button.checked = false;

                var success_text = "";
                var fail_text = "";
                var success_list = responseJson.data.success_list;
                var fail_list = responseJson.data.fail_list;

                // 显示提示信息
                for (var i in success_list) {
                    var username = success_list[i].username;
                    if (username == undefined) {
                        username = $("#username_" + success_list[i].id).html();
                    }
                    if (username != undefined && username != null)
                        success_text += "用户&nbsp;"+username+"&nbsp;删除成功</br>";
                }
                for (var i in fail_list) {
                    fail_text += "用户&nbsp;"+fail_list[i].username+"&nbsp;删除失败</br>";
                }

                // 更新user_table
                for (var i in success_list) {
                    user_table.row($("#user_tr_"+success_list[i].id)).remove();
                }
                user_table.draw(false);

                if (success_list.length) {
                    $.gritter.add({
                        // (string | mandatory) the text inside the notification
                        text: success_text,
                        class_name: 'gritter-success'
                    });
                }
                if (fail_list.length) {
                    $.gritter.add({
                        // (string | mandatory) the text inside the notification
                        text: fail_text,
                        class_name: 'gritter-error'
                    });
                }
            }

            // confirm delete
            $("#confirm_delete").click(function () {
                $("#delete_confirm_dialog").modal('hide');
                $.ajax({
                    url: "{{ url_for('teachers_account.delete_users') }}",
                    type: "DELETE",
                    contentType: "application/json",
                    data: $.toJSON(selected_user),
                    success: on_delete_users_success,
                    error: on_delete_users_error
                });
            });

            /**
             * Below are modify password related code
             */

            // modify password
            $("#modify_password").click(function () {
                selected_user = [];
                $("#user_table tbody td input[type=checkbox]").each(function () {
                    if (this.checked) {
                        var user_id = this.id.split("_")[1];
                        selected_user.push(user_id);
                    }
                });
                if (selected_user.length > 0) {
                    // reset form from create user mode
                    user_dialog_mode = "modify-password";
                    $(".form-group").show();
                    $("#user_dialog, .user-information").hide();
                    $("#user_dialog_title").text("重置密码");
                    $("#user_dialog").modal("show");
                }
            });

            /**
             * Below are upload users related code
             */

            $("#upload_users_dialog_pop").click(function () {
                $('#userfile').ace_file_input('reset_input');
                $("#upload_users_dialog").modal("show");
            });

            var fail_list_table = $("#fail_list_table").dataTable({
                'language': {
                    "url": "{{ url_for('static', filename='i18n/jquery.dataTables.json') }}"
                },
                //'aaData':eval(fail_list),
                'aoColumns':
                    [{'sTitle':'学号','mData':'username'},
                    {'sTitle':'姓名','mData':'fullname'},
                    {'sTitle':'邮箱','mData':'email'},
                    {'sTitle':'错误信息','mData':'info'}],
                "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "iDisplayLength": 5
            });

            $('#upload_users').click(function() {
                $("#upload_users_dialog").modal("hide");
                if (!checkUploadFile("#userfile")) {
                    return;
                }
                var options = {
                    success: callback,
                    url: "{{ url_for('teachers_account.upload_user') }}"
                };
                function callback(responseJson, statusText) {
                    var status = responseJson.status;
                    var data = responseJson.data;

                    // 更新user_table
                    for (var i in data.success_list) {
                        var user = data.success_list[i];
                        var tr = "<tr id='user_tr_"+user.id+"'>"+
                                        "<td class='center'><label class='pos-rel'><input type='checkbox' id='user_"+user.id+"' class='ace'><span class='lbl'></span></label></td>"+
                                        "<td id='username_"+user.id+"'>"+user.username+"</td>"+
                                        "<td id='fullname_"+user.id+"'>"+user.fullname+"</td>"+
                                        "<td id='email_"+user.id+"'>"+user.email+"</td>"+
                                        "<td>"+
                                            "<div class='action-buttons'>"+
                                                '<a href="javascript:void(0)" title="编辑用户" onclick="on_update_click('+user.id+')"><i class="ace-icon glyphicon glyphicon-edit bigger-130"></i></a>\n'+
                                                '<a class="red" title="删除用户" onclick="on_delete_click('+user.id+')"><i class="acxse-icon fa fa-trash-o bigger-130"></i></a>'+
                                            "</div>"+
                                        "</td>"+
                                    "</tr>";

                        user_table.row.add($(tr));
                    }
                    user_table.draw(false);

                    switch (status) {
                        case "success":
                            var content = "全部导入成功！共" + data.total +
                                "条记录, " +
                                "其中有效记录为" + data.insert + "条";
                            // 显示提示信息
                            $.gritter.add({
                                // (string | mandatory) the text inside the notification
                                text: content,
                                class_name: 'gritter-success'
                            });
                            break;
                        case "part_success":
                            var fail_list = data.fail_list;
                            fail_list_table.fnClearTable(this);
                            fail_list_table.fnAddData(eval(fail_list), true);
                            $("#fail_list_dialog").modal("show");
                            //修改并定制滚动条
                            $("#fail_list_wrapper").find('.dataTables_scrollBody').css("overflow","");
                            $("#fail_list_wrapper").find('.dataTables_scroll').css("overflow","auto");
                            //由于设置sScrollY，弹出框加载的样式会变化，以下代码防止样式出错
                            $("#fail_list_wrapper").find(".dataTables_scrollHeadInner").css("width","");
                            $("#fail_list_wrapper").find(".table").css("width","");

                            var content = "部分导入成功！共" + data.total +
                                "条记录, " +
                                "其中有效记录为" + data.insert + "条";
                            // 显示提示信息
                            if (data.insert == 0) {
                                $.gritter.add({
                                    // (string | mandatory) the text inside the notification
                                    text: '全部导入失败! 详见错误列表',
                                    class_name: 'gritter-error'
                                });
                                break;
                            }
                            $.gritter.add({
                                // (string | mandatory) the text inside the notification
                                text: content,
                                class_name: 'gritter-warning'
                            });
                            break;
                        default:
                            //操作失败
                            var content = "导入失败！";
                            if (data.error_msg == "too large") {
                                content += "文件大小不能超过5M！"
                            } else if (data.error_msg == "type error") {
                                content += "文件类型不支持，必须为.xls或者.xlsx文件"
                            } else if (data.error_msg == "format error") {
                                content += "文件格式不正确，注意用户的字段顺序！"
                            } else {
                                content += "导入过程中发生异常！"
                            }
                            // 显示提示信息
                            $.gritter.add({
                                // (string | mandatory) the text inside the notification
                                text: content,
                                class_name: 'gritter-success'
                            });
                            break;
                    }
                }
                $("#upload_form").ajaxSubmit(options);
            });

            function checkUploadFile() {
                var filepath = $("#userfile").val();
                var extStart = filepath.lastIndexOf(".");
                var ext = filepath.substring(extStart, filepath.length).toUpperCase();
                if (ext != ".XLS" && ext != ".XLSX") {
                    $("#fail_content").text("文件类型不支持，必须为.xls或者.xlsx文件");
                    $("#fail_dialog").modal('show');
                    return false;
                } else {
                    return true;
                }
            }
        });

        /**
         * Below code for specific user operation
         */

        function on_delete_click(user_id) {
            selected_user = [];
            selected_user.push(user_id);
            if (selected_user.length > 0) {
                $("#delete_confirm_dialog").modal("show");
            }
        }

        function on_update_click(user_id) {
            selected_user = [];
            selected_user.push(user_id);
            if (selected_user.length > 0) {
                // reset form from create user mode
                user_dialog_mode = "update";
                $("#user_form").validate().resetForm();
                $(".form-group").show();
                $("#user_dialog, .password").hide();
                $("#user_dialog_title").text("更新用户");
                $("#username").val($("#username_" + user_id).text()).prop("readonly", true);
                $("#fullname").val($("#fullname_" + user_id).text());
                $("#email").val($("#email_" + user_id).text());
                $("#user_dialog").modal("show");
            }
        }
    </script>

{% endblock %}
