{% extends "base.html" %}
{% block title %}云晫License管理系统{% endblock %}
{% block template_styles %}
    {{ super() }}
    <!-- vinzor style -->
    <link href="{{ url_for('static', filename='css/vinzor.css') }}" rel="stylesheet">
{% endblock %}
{% block plugin_scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vinzor-validate.js') }}"></script>
{% endblock %}
{% block inline_scripts %}
<!-- page javascript -->
<script type="text/javascript">
    {{ super() }}
    $(function() {
            $("#reset_password_form").validate({
                rules: {
                    username_email: {
                        required: true,
                        isEmail:true,
                        rangelength: [1, 64]
                    },
                    password: {
                        required: true,
                        rangelength: [5, 64]
                    },
                    password2: {
                        required: true,
                        rangelength: [5, 64]
                    }
                },
                messages: {
                    username_email: {
                        required: '邮箱不能为空',
                        rangelength: '邮箱长度为1～64个字'
                    },
                    password: {
                        required: '密码不能为空',
                        rangelength: '密码长度为5～64个字'
                    },
                    password2: {
                        required: '密码不能为空',
                        rangelength: '密码长度为5～64个字'
                    }
                }
            })
        });
</script>
{% endblock %}

{% block content %}
    <body id="login_body">
        <div id="header">
        </div>
        <div id="content">
            <div id="login_box">
                <div id="login_box_title" class="input_group">
                  <p>重置密码</p>
                </div>
                <form method="POST" id="reset_password_form">
                    {{ form.hidden_tag() }}
                     <div class="input_group">
                         {{ form.username_email(placeholder="请输入注册邮箱") }}
                     </div>
                     {% if form.password %}
                        <div class="input_group">
                            {{ form.password(placeholder="请输入密码") }}
                        </div>
                         <div class="input_group">
                            {{ form.password2(placeholder="请再次输入密码") }}
                        </div>
                    {% endif %}
                    <div class="input_group">
                        {{ form.submit(class='login_btn btn-primary') }}
                    </div>
                </form>
                <div class="input_group">
                    <div id="reset_state">
                    {{ get_flashed_messages()[0] }}
                  </div>
                </div>
            </div>
        </div>
        <div id="footer">
              <p>&copy; 云晫信息科技 2013-{{ year }} | 帮助中心 | 问题反馈 </p>
        </div>
    </body>
{% endblock %}