{% extends "base.html" %}
{% block title %}云晫云课室{% endblock %}
{% block template_styles %}
    {{ super() }}
    <!-- vinzor style -->
    <link href="{{ url_for('static', filename='css/vinzor.css') }}" rel="stylesheet">
{% endblock %}
{% block plugin_scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vinzor-validate.js') }}"></script>
    <script src="{{ url_for('static', filename='i18n/jquery.validate.zh-CN.js') }}"></script>
{% endblock %}
{% block inline_scripts %}
<!-- page javascript -->
<script type="text/javascript">
    {{ super() }}
    $(function() {
            $("#reset_password_form").validate({
            })
        });
</script>
{% endblock %}

{% block content %}
    <body id="login_body">
        <div id="header">
        </div>
        <div id="content">
            <div id="login_box">
                <div id="login_box_title" class="input_group">
                  <p>重置密码</p>
                </div>
                <form method="POST" id="reset_password_form">
                    {{ form.hidden_tag() }}
                     <div class="input_group">
                        <input id="username_email" name="username_email" placeholder="请输入注册邮箱" type="email" value="" data-rule-required='true' data-msg-required='邮箱不能为空' data-rule-isEmail="true" data-rule-rangelength="1,64">
                     </div>
                     {% if form.password %}
                        <div class="input_group">
                            <input id="reset_password1" name="password" placeholder="请输入密码" type="password" value="" data-rule-required='true' data-msg-required='密码不能为空' data-rule-rangelength="5,64" data-msg-rangelength='密码长度为5～64个字'>
                        </div>
                         <div class="input_group">
                            <input id="reset_password2" name="password2" placeholder="请再次输入密码" type="password" value="" data-rule-required='true' data-msg-required='密码不能为空' data-rule-rangelength="5,64" data-msg-rangelength='密码长度为5～64个字' data-rule-equalto="#reset_password1">
                        </div>
                    {% endif %}
                    <div class="input_group">
                        <input class="login_btn btn-primary" id="submit" name="submit" type="submit" value="确认提交">
                    </div>
                </form>
                <div class="input_group">
                    <div id="reset_state">
                    {{ get_flashed_messages()[0] }}
                  </div>
                </div>
            </div>
        </div>
        <div id="footer">
              <p>&copy; 云晫信息科技 2013-{{ year }} | 帮助中心 | 问题反馈 </p>
        </div>
    </body>
{% endblock %}
